.App {
  height: 100dvh;
  display: grid;
  place-items: center;
  background-image: url("./img/background.png");
}

.container {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 80dvw;
}

h1 {
  text-align: center;
}

img {
  height: 300px;

  border-radius: 10px;
}
.buttons {
  display: flex;
}

button {
  margin: 10px;
  padding: 5px;
  border: 2px black solid;
  border-radius: 20px;
  aspect-ratio: 2 / 1;
  color: black;
  cursor: pointer;
}

.yes {
  background-color: green;
}

.no {
  background-color: red;
  height: 37.4px;
}
